{% extends "base.html" %}

{% block title %}Authors - Readloom{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Authors</h5>
                </div>
                <div class="card-body">
                    <div class="alert alert-info" role="alert">
                        <h4 class="alert-heading">Authors Feature - Coming Soon</h4>
                        <p>The Authors tab is currently under development and will be available in a future update.</p>
                        <hr>
                        <p class="mb-0">In the meantime, you can browse authors through the <a href="/books/search" class="alert-link">Books Search</a> page.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
